name: release
on:
  workflow_dispatch:

concurrency:
  group: release

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm run build
      - run: npx semantic-release
        if: success()
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          # Need owner/admin account to bypass branch protection
          GIT_COMMITTER_NAME: sinedied
          GIT_COMMITTER_EMAIL: noda@free.fr
